:root {
    --fuentePrincipal:'Jost', sans-serif;
    --fuenteSecundaria :'Amatic SC', cursive;
}


.header
{
    max-width: 120rem;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    @media(max-width:768px){
        flex-direction: column;
        height: auto;
        
    }
   
    img  {
       width: 15rem;
       height: 10rem;
       @media(max-width:768px){
        margin: 2rem auto;
        margin-top: 2rem;
        
    }
    }
    h2 
    {
        font-family: var(--fuenteSecundaria);
        margin-top: 5rem;
        margin-left: 2rem;
        font-size: 2rem;
        @media(max-width:768px){
        text-align: center;
    }
    }
}